## Lambda

In [1]:
def sum(a,b):
    return a+b

sum(4,5)

9

In [2]:
def cube(X):
    return X*X*X
cube(4)

64

In [3]:
#Lambda arguments: expression
lambda_cube = lambda y: y*y*y
lambda_cube(5)

125

In [4]:
sum = lambda a,b:a+b
sum(4,5)

9

In [5]:
add = lambda num:num+4
print(add(6))

10

In [6]:
def greater(a,b):
    if a>b:
        return a
    else:
        return b
greater(4,5)

5

In [7]:
#Example of lambda function using if-else
max = lambda a,b:a if(a>b) else b
max(4,5)

5

In [8]:
My_list = [5,7,2,8,6]
My_list_squared = []
for i in My_list:
    i_squared = i**2
    My_list_squared.append(i_squared)
My_list_squared

[25, 49, 4, 64, 36]

In [9]:
My_list_squared = [i**2 for i in My_list]
My_list_squared

[25, 49, 4, 64, 36]

In [10]:
My_list_squared = list(map(lambda i:i**2,My_list))
My_list_squared

[25, 49, 4, 64, 36]

## Map
Being a higher-order function, the map function takes another function and an iterable(e.g.,a list,set,tuple) as input, applies the function to the iterable, and returns an output. It's syntax is defined as follows:

              map(function, iterable)

map(cook, [üê∑,üåΩ,ü•ö ,üç†]) ‚Üí [ü•ì,üçø,üç≥,üçü]

In [11]:
def add4(x):
    return x+4
list1 = [4,6,7,8,9]

list2 = list(map(add4,list1))
list2

[8, 10, 11, 12, 13]

In [12]:
list3 = list(map(lambda x:x+4,list1))
list3

[8, 10, 11, 12, 13]

In [13]:
set_of_strings = ['abc' , 'def' , 'xyz']
string_map_24 = list(map(lambda my_string: my_string+ '_2024', set_of_strings))
string_map_24

['abc_2024', 'def_2024', 'xyz_2024']

## Filter
similar to map(), the filter() higher-order function takes a function and an iterables as output as inputs.The function in case needs to be Boolean nature, returning True/False values corresponding to the filter coditions.As output, it returns a subset of the input data that meets the conditons stipulated by the function.

filter(non_vegan, [ü•ì,üçø,üç≥,üçü]) ‚Üí [ü•ì,üç≥]

In [14]:
def oddeven(x):
    if x%2 == 0:
        return True
    else:
        return False

list1 = [4,5,6,7,8,9]
evenlist = list(filter(oddeven,list1))
evenlist

[4, 6, 8]

In [15]:
list1 = [4,5,6,7,8,9]
evenlist = list(filter(lambda x:True if x%2==0 else False,list1))
evenlist

[4, 6, 8]

## Reduce
It returns a single value (i.e., it reduces the input to single element). Commonly, this would be some something like the sum of all elements in a list.

Example:-

reduce(mix, [ü•¨,ü•ï,üçÖ,ü•í]) ‚Üíü•ó

In [16]:
from functools import reduce
def sum(x,y):
    return x+y

list1 = [6,7,8,9]
s = reduce(sum,list1)
s

30